@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}


#navLink li a.active{
    border-bottom: 2px solid blueviolet;
    color: blueviolet;
}
#mobileDeviceActive li a.active{
    background-color: rgb(3, 154, 154);
    color: white;

}